//Un set di un Pokémon
mixin pset(name, item, ability, stat1, stat2, stat3, nature, m1, m2, m3, m4)
    p
        | #{name} @ #{item} #[br]
        | Abilità: #{ability} #[br]
        | PA: #{stat1} / #{stat2} / #{stat3} #[br]
        | Natura #{nature} #[br]
        | - #{m1} #[br]
        | - #{m2} #[br]
        | - #{m3} #[br]
        | - #{m4}
    br